.box {
    display: inline-block;
    height: 100px;
    width: 100px;
    border: 1px solid black;
}

.content {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    position: relative;
    top: 38px;
    left: 38px;
    cursor: pointer; /* esse drag dikhta h */
}

.red-border{
    border-radius: 50%;
    border: 1px solid red;
}

.hide {
    display: none;
}

.dashed-on-enter{
    border-style: dashed;
}