.div1 {
    float: left;
    padding: 10px;
    border: 3px solid #73AD21;
  }
  
  .div2 {
    padding: 10px;
    border: 3px solid red;
  }
  
  .div3 {
    float: left;
    padding: 10px;  
    border: 3px solid #73AD21;
  }
  
  .div4 {
    padding: 10px;
    border: 3px solid red;
    clear: left;
  }
/* 
what is float and clear in css?
The float property is used for positioning and formatting content 
e.g. let an image float left to the text in a container.

Position and float m diff kya h?
float: float m element as well as uske sath ka content wrap krte h
position: hum just positin fixed krte h element ki


*/